absl-py==1.4.0
accelerate==0.23.0
addict==2.4.0
aiofiles==0.8.0
aiohttp==3.8.1
aioice==0.7.6
aiortc==1.3.2
aiosignal==1.3.1
albumentations==1.3.0
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
altair==4.2.2
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
astroid==3.0.1
asttokens==2.2.1
async-timeout==4.0.2
asyncer==0.0.2
attrs==22.2.0
av==9.2.0
Babel==2.12.1
backcall==0.2.0
backports.zoneinfo==0.2.1
basicsr==1.4.2
beautifulsoup4==4.11.2
bidict==0.22.1
bitsandbytes==0.41.1
bleach==6.0.0
blessed==1.20.0
blinker==1.5
braceexpand==0.1.7
brotlipy
cachetools==5.3.0
certifi==2022.12.7
cffi
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==2.0.12
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16
cmake==3.27.1
colorama
coloredlogs==15.0.1
colorlog==6.7.0
comm==0.1.2
commonmark==0.9.1
ConfigArgParse==1.5.3
controlnet-aux==0.0.6
crcmod==1.7
croniter==1.3.15
cryptography
cycler==0.11.0
dash==2.8.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses
dataclasses-json==0.6.1
datasets==2.13.0
dateutils==0.6.12
dearpygui==1.9.1
debugpy==1.6.6
decorator==5.1.1
deepdiff==6.3.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
descartes==1.1.0
diffusers==0.18.2
dill==0.3.6
distlib==0.3.7
dnspython==2.3.0
docker-pycreds==0.4.0
docstring-parser==0.14.1
easydict==1.10
einops==0.3.0
entrypoints==0.4
envlight @ git+https://github.com/ashawkey/envlight.git@ef492c03711c87287549a0283ee51199f45cbea4
executing==1.2.0
expecttest==0.1.6
fastapi==0.78.0
fastcore==1.5.29
fastjsonschema==2.16.3
ffmpy==0.3.0
filelock==3.13.1
filetype==1.2.0
fire==0.5.0
flake8==6.1.0
flash-attn==1.0.4
Flask==2.2.3
flatbuffers==23.3.3
fonttools==4.39.0
freetype-py==2.4.0
frozendict==2.3.5
frozenlist==1.3.3
fsspec==2023.3.0
ftfy==6.1.1
functorch==0.2.1
future==0.18.3
gast==0.5.4
gdown==4.5.1
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-crc32c==1.5.0
gradio==3.21.0
grpcio==1.51.3
h11==0.14.0
h5py==3.8.0
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.17.2
humanfriendly==10.0
humanize==4.6.0
identify==2.5.33
idna
imageio==2.13.0
imageio-ffmpeg==0.4.2
importlib-metadata==6.0.0
importlib-resources==5.12.0
inquirer==3.1.3
invisible-watermark==0.1.5
iopath
ipyevents==2.0.1
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isort==5.12.0
itsdangerous==2.1.2
jaxtyping==0.2.19
jedi==0.18.2
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
json5==0.9.11
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-server==1.23.6
jupyter_client==7.4.9
jupyter_core==5.2.0
jupyter_packaging==0.12.3
jupyterlab==3.3.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.20.0
kaolin @ git+https://github.com/NVIDIAGameWorks/kaolin@a1b2ad427a580c10f4a3667c31565f244a911aaf
kiwisolver==1.4.4
kornia==0.6.0
lazy-object-proxy==1.9.0
lazy_loader==0.3
libigl==2.4.1
lightning==2.0.0
lightning-cloud==0.5.37
lightning-utilities==0.9.0
linkify-it-py==2.0.0
lit==16.0.6
llvmlite==0.41.0
lmdb==1.4.0
loguru==0.6.0
lovely-numpy==0.2.9
lovely-tensors==0.1.15
lpips==0.1.4
lxml==4.9.3
mapbox-earcut==1.0.1
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.20.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
mediapipe==0.9.1.0
mediapy==1.1.0
mistune==2.0.5
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
modelscope==1.9.5
mpmath==1.3.0
msgpack==1.0.4
msgpack-numpy==0.4.8
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.0
nerfacc @ git+https://github.com/KAIR-BAIR/nerfacc.git@d84cdf3afd7dcfc42150e0f0506db58a5ce62812
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.0
ninja==1.10.2.3
nodeenv==1.8.0
notebook==6.5.3
notebook_shim==0.2.2
numba==0.58.0
numpy==1.22.4
nuscenes-devkit==1.1.9
nvdiffrast @ git+https://github.com/NVlabs/nvdiffrast.git@c5caf7bdb8a2448acc491a9faa47753972edd380
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
objprint==0.2.3
omegaconf==2.3.0
onnx==1.13.1
onnxruntime==1.14.1
onnxruntime-gpu==1.16.0
open-clip-torch==2.0.2
open3d==0.15.2
opencv-python==4.5.5.64
opencv-python-headless==4.7.0.72
ordered-set==4.1.0
orjson==3.8.7
oss2==2.18.3
packaging
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
platformdirs==4.1.0
plotly==5.7.0
plyfile==0.9
pooch
portalocker
pre-commit==3.5.0
prettytable==3.6.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycodestyle==2.11.1
pycollada==0.7.2
pycparser
pycryptodome==3.17
pydantic==1.9.2
pydeck==0.8.0
pyDeprecate==0.3.1
pydub==0.25.1
pyee==9.0.4
pyflakes==3.1.0
pyglet==2.0.9
pygltflib==1.16.0
Pygments==2.14.0
PyJWT==2.8.0
pylibsrtp==0.8.0
pylint==3.0.2
PyMatting==1.1.8
PyMCubes==0.1.4
pymeshlab==2022.2.post2
Pympler==1.0.1
pyngrok==5.1.0
PyOpenGL==3.1.5
pyOpenSSL
pyparsing==3.0.9
pyquaternion==0.9.9
pyrallis==0.3.1
pyre-extensions==0.0.29
pyrender==0.1.45
pyrsistent==0.19.3
pysdf==0.1.9
PySocks
python-dateutil==2.8.2
python-editor==1.0.4
python-engineio==4.3.4
python-multipart==0.0.6
python-socketio==5.7.1
pytorch-lightning==2.0.4
pytorch3d==0.7.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML
pyzmq==24.0.1
qtconsole==5.4.1
QtPy==2.3.0
qudida==0.0.4
readchar==4.0.5
regex==2022.10.31
rembg==2.0.50
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==12.5.1
rsa==4.9
Rtree==1.0.1
safetensors==0.3.3
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.0
seaborn==0.13.0
semver==2.13.0
Send2Trash==1.8.0
sentencepiece==0.1.99
sentry-sdk==1.16.0
setproctitle==1.3.2
shapely==2.0.1
shtab==1.5.8
simplejson==3.19.2
six
sklearn==0.0.post5
smmap==5.0.0
smplx==0.1.28
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
stack-data==0.6.2
starlette==0.19.1
starsessions==1.3.0
streamlit==1.12.1
streamlit-drawable-canvas==0.8.0
svg.path==6.3
sympy==1.11.1
tabulate
taming-transformers-rom1504==0.0.6
tb-nightly==2.12.0a20230126
tenacity==8.2.2
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
termcolor
terminado==0.17.1
test-tube==0.7.5
threadpoolctl==3.1.0
tifffile==2023.2.28
timm==0.6.12
tinycss2==1.2.1
tinycudann @ git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
tokenizers==0.13.2
tomesd==0.1.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.12.0
torch==2.0.1+cu118
torch-ema==0.3
torch-fidelity==0.3.0
torchaudio==0.12.1
torchmetrics==0.7.0
torchsde==0.2.6
torchtyping==0.1.4
torchvision==0.15.2+cu118
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
trampoline==0.1.2
transformations==2022.9.26
transformers==4.28.1
trimesh==3.20.2
triton==2.0.0
typeguard==2.13.3
typing==3.7.4.3
typing-inspect==0.8.0
typing_extensions
tyro==0.4.2
tzdata==2022.7
tzlocal==4.3
u-msgpack-python==2.7.2
uc-micro-py==1.0.1
urllib3
usd-core==22.5.post1
uvicorn==0.17.6
validators==0.20.0
varname==0.11.2
virtualenv==20.25.0
wandb==0.13.11
watchdog==2.3.1
wcwidth==0.2.6
webdataset==0.2.5
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.3
widgetsnbextension==4.0.5
wrapt==1.16.0
xatlas==0.0.7
xformers==0.0.21
xxhash==3.3.0
yacs
yapf==0.30.0
yarl==1.8.2
zipp==3.15.0
